params {
    run_dir = "/g/schwab/marco/projects/osFISH/runs/regFISH02"
    raw_lif_dir = "${params.run_dir}/2026-06-22"
    outdir = "${params.run_dir}/omezarr"
    logdir = "${params.run_dir}/logs/wfOMEZARR"
    script_dir = "$projectDir"
    default_z_scale_nm = 1000
    zarr_format = 2
    eubi_extra_args = ""
    workflow_stage = "all"
    s3_bucket = "s3embl/temscreen/osFISH"

    container_lif = "/g/schwab/marco/container_legacy/py_liffile.sif"
    container_eubi = "/g/schwab/marco/container_devel/eubi_v5.sif"
    container_mc = "/g/schwab/marco/container_devel/EMBL_mc_2024-05-03T11-21-07Z.sif"
    container_r = "/g/schwab/marco/container_devel/probeDesign_rtool.sif"
}

process {
    withName:EXTRACTTIFFROMLIF {
        container = params.container_lif
        executor = "local"
    }
    withName:BUILDCONVERSIONTABLE {
        container = params.container_lif
        executor = "local"
    }
    withName:EUBITIFFTOOMEZARR {
        container = params.container_eubi
        executor = "local"
    }
    withName:S3UPLOADOSFISH {
        container = params.container_mc
        executor = "local"
    }
    withName:COLLECTOSFISHS3FILES {
        container = params.container_mc
        executor = "local"
    }
    withName:MAKEOSFISHCOLLECTIONTABLE {
        container = params.container_r
        executor = "local"
    }
}

singularity {
    enabled = false
}

profiles {
    local {
        executor.name = "local"
        singularity.enabled = true
    }

    interactive {
        executor.name = "local"
        singularity.enabled = true
    }

    cluster {
        executor.name = "slurm"
        singularity.enabled = true
        executor.perTaskReserve = false
        executor.perJobMemLimit = true
        executor.queueSize = 20
        executor.submitRateLimit = "3 sec"
    }
}
