params {
    script_dir = "$projectDir"
    outdir = "osfish_omezarr"
    logdir = "osfish_logs"
    input_lif = ""
    dataset_name = ""
    s3_bucket = "s3embl/imatrec/central_data_processing/osfish"
    collection_table_url = ""
    collection_table_sheet = "osfish_collection_table"
    google_key = "$projectDir/trec-tem-screen-e98a2e03f58b.json"
    upload = "FALSE"
    zarr_format = 2
    eubi_extra_args = ""
    default_x_scale = ""
    default_y_scale = ""
    default_z_scale = ""
    scale_unit = "nm"

    container_lif = "/g/schwab/marco/container_devel/lif_metadata.sif"
    container_eubi = "/g/schwab/marco/container_devel/eubibridge.sif"
    container_mc = "/g/schwab/marco/container_devel/EMBL_mc_2024-05-03T11-21-07Z.sif"
    container_tidyverse = "/g/schwab/marco/container_devel/probeDesign_rtool.sif"
}

process {
    withName:EXTRACTOSFISHLIFMETADATA {
        container = "${params.container_lif}"
    }
    withName:CONVERTOSFISHLIFSCENESTOOMEZARR {
        container = "${params.container_eubi}"
    }
    withName:UPLOADOSFISHOMEZARR {
        container = "${params.container_mc}"
        executor = "local"
    }
    withName:MAKEOSFISHMOBIETABLE {
        container = "${params.container_lif}"
        executor = "local"
    }
    withName:UPLOADOSFISHMOBIETABLE {
        container = "${params.container_tidyverse}"
        executor = "local"
    }
}

singularity {
    enabled = false
}

profiles {
    local {
        executor.name = "local"
        singularity.enabled = false
    }

    interactive {
        executor.name = "local"
        singularity.enabled = true
    }

    cluster {
        singularity.enabled = true
        executor.name = "slurm"
        executor.perTaskReserve = false
        executor.perJobMemLimit = true
        executor.queueSize = 10
        executor.submitRateLimit = "3 sec"
    }
}
